/* Styles specific to the main game page */
body {
    color: #ffffff;
}

.scores {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #000000;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.03);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #ffffff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

/* Indicators for "correct" and "incorrect" answers */
.correct {
    background: linear-gradient(32deg, rgb(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(230, 29, 1) 0%, rgb(224, 11, 1) 100%);
}

/* Progress Display */
#progress {
    display: flex;
    justify-content: space-between;
}

.progress-prefix {
    text-align: center;
    font-size: 2rem;
}

.progress-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.2rem solid #000000;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #000000;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}